<%- include('../partials/head.ejs', {cssSheet: "styles-productDetail"}) %>

<body class="body-productDetail">
    <%- include('../partials/header.ejs') %>
    <main class="mainProduct"> 
        
        <div class="card">
            <section class="card_first-section">
                <img src="/img/panBaguete.jfif" alt="foto">
            </section>
            <section class="card_second-section">
                <p class="productType">Pan</p>
                <h2 class="titulo"><%= producto.name %></h2>
                <P class="description"><%= producto.description %></P>
                <div class="precio">
                    <p>$<%= producto.price %></p>
                </div>
                    <button class="card_button">Add to cart</button>
                <br>
                <div class="botonesModificar">
                <a href="/products/edit/<%= producto.id %>" > <button class="card_button2" >  Editar producto </button></a>
                <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST" >
                    <button type="submit" class="card_button2" onclick="return confirm('Estas seguro que quieres borrar este producto?')">Borrar producto</button>
                </form>
                </div>
            </section>
        </div>
    </main>

    <%- include('../partials/footer') %>


</body>

</html>