<%- include('../partials/head.ejs', {cssSheet: "styles-productDetail"}) %>

<body class="body-productDetail">
    <%- include('../partials/header.ejs') %>
    <main class="mainProduct"> 
        
        <div class="card">
            <section class="card_first-section">
                <img src="/img/<%= product.image %>" alt="foto">
            </section>
            <section class="card_second-section">
                <p class="productType"><%= product.category.name %></p>
                <h2 class="titulo"><%= product.name %></h2>
                <P class="description"><%= product.description %></P>
                <div class="precio">
                    <p>$<%= product.price %></p>
                </div>
                    <button class="card_button">Add to cart</button>
                <br>
                <!-- Botones sólo disponibles para usuarios admin -->
                <% if (locals.isLogged && (locals.loggedUser.admin == 1)) { %>
                <div class="botonesModificar">
                <a href="/products/edit/<%= product.id %>" > <button class="card_button2" >  Editar producto </button></a>
                <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST" >
                    <button type="submit" class="card_button2" onclick="return confirm('Estas seguro que quieres borrar este producto?')">Borrar producto</button>
                </form>
                </div>
                <% } %>
            </section>
        </div>
    </main>

 <%- include('../partials/footer') %>


</body>

</html>