<%- include('../partials/head.ejs', {cssSheet: "styles-login"}) %>

<body class="body-login">

<%- include('../partials/header.ejs') %>

    <main class="main-login">
        <div class="login-img">
            <img src="https://cdn.pixabay.com/photo/2016/11/29/10/09/bakery-1868925_1280.jpg" alt="">
        </div>
        <div class="phrase-form">
            <div class="phrase">
                <img src="../img/bread-white.png" alt="">
                <p class="line1">LA FELICIDAD ES EL AROMA DEL PAN RECIÉN HORNEADO</p>
            </div>
            <div class="form-login">
                <form class="login" method="POST" action="/users/login">
                    <div class="errores" style="display: none;">
                        <div><i class="fa-solid fa-triangle-exclamation" style="color: darkred;display: inline; margin-right: 5px;"></i></div>
                        <p style="display: inline;"></p>
                    </div>
                    <% if (locals.errors && errors.email) { %>
                        <div class="feedback">
                            <i class="fa-solid fa-triangle-exclamation"></i><hr>
                            <%= errors.email.msg %>
                        </div>
                    <% } %>
                    <% if (locals.errors && errors.password) { %>
                        <div class="feedback">
                            <i class="fa-solid fa-triangle-exclamation"></i><hr>
                            <%= errors.password.msg %>
                        </div>
                    <% } %>
                    <div class="login-input">
                        <label for="email">Usuario/Correo electrónico:</label><br>
                        <input type="text" name="email">
                    </div>
                    <div class="login-comment">
                        <p>¿Aún no eres usuario? <a href="/users/register">Regístrate aquí.</a></p>
                    </div>
                    <div class="login-input password">
                        <label for="password">Contraseña:</label><br>
                        <input type="password" name="password">
                    </div>
                    <div class="login-comment">
                        <p>¿Olvidaste tu contraseña? <a href="">Recupérala aquí.</a></p>
                    </div>
                    <div class="login-checkbox">
                        <label for="rememberMe"></label>
                        <input type="checkbox" name="rememberMe"><p>Recordarme</p>
                    </div>
                    <button type="submit" class="formLoginButton">Ingresar</button>
                    <div class="login-logo">
                        <img src="../img/Logo-recortado.png" alt="">
                    </div>
                </form>
            </div>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>

    <script src="/js/loginValidator.js"></script>

</body>
</html>