<%- include('../partials/head.ejs', {cssSheet: "styles-login"}) %>

<body class="body-profile">

<%- include('../partials/header.ejs') %>

    <main class="main-profile">

        <div class="first-section"> 
        <img class="fotoPerfil" src="/img/avatars/<%= user.avatar %>" alt="">
        
        </div>
        <div class="second-section">
        <h2><%= user.name + " " + user.surname%></h2>
        <p><%= user.email %></p>

        <a href="/users/edit/<%= user.id %>">Editar usuario</a>

        <div class="nav-perfil">
            <button> Productos </button>
            <button> Últimas compras </button>
            <button> Favoritos </button>
        </div>

    </main>

</body>
</html>