<%- include('../partials/head.ejs', {cssSheet: "styles-register"}) %>

<body class="body-login">

<%- include('../partials/header.ejs') %>

    <main class="main-register">
        <div class="login-img">
            <img src="https://cdn.pixabay.com/photo/2016/11/29/10/09/bakery-1868925_1280.jpg" alt="">
        </div>

        <div class="container-formulario">

            <form action="/users/edit/<%= user.id %>" method="POST" class="register-input" enctype="multipart/form-data">
                
                <div class="register-input">
                    <input type="text" name="name" placeholder="Nombre" value="<%= user.name %>">
                </div>
                <br>
                <div class="register-input">
                    <input type="text" name="surname" placeholder="Apellido" value="<%= user.surname %>">
                </div>
                <br>
                <div class="register-input">
                    <input type="text" name="email" placeholder="Correo electronico" value="<%= user.email %>">
                </div>
                <br>
                <div class="nacimiento">
                    <label for="fecha-nacimiento"><h2>Fecha de nacimiento</h2></label>
                    <input type="date" name="bday" id="fecha-nacimiento" value="<%= user.bday %>">
                </div>
                <br>                    
                <div class="register-input">
                    <input type="text" name="address" placeholder="Domicilio" value="<%= user.adress %>" class="form-control">
                </div>
                <br>
                <div class="foto-usuario">
                    <label for="avatar"><h2>Foto de perfil</h2></label>
                    <input type="file" name="avatar" id="foto-usuario" accept=".jpg, .png">
                </div>
                <br>
                <div class="register-input">
                    <input type="password" name="password" placeholder="Contraseña">
                </div>
                <br>
                <div class="register-input">
                    <input type="password" placeholder="Confirmar contraseña">
                </div>
                <br>

                <div class="botones">
                    <div class="register-input, register-button">
                        <button type="submit" id="botones">Actualizar</button>
                    </div>
    
                    <div class="register-input, register-button">
                        <a href="/users/profile/<%= user.id %>"><button type="button" id="botones">Cancelar</button></a>
                    </div>
                </div>

                <div class="login-logo">
                    <img src="/img/Logo-recortado.png" alt="">
                </div>

        </form>
    </div>

</main>

<%- include('../partials/footer.ejs') %>

</body>
</html>